main {
  margin: auto;
  max-width: 800px;
  padding: 60px 20px 20px 20px;
}

main .eBudget-header {
  font-size: 28px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .eBudget-subheader {
  font-size: 18px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: #999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

nav {
  position: fixed;
  z-index: 2;
}

.user-home-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 60px 20px 20px 20px;
}

.user-home-container h2 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.user-home-container h3 {
  font-size: 18px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: #999;
}

#login-signup {
  margin: 0 20px 20px 20px;
  width: 90%;
}

#auth-form {
  padding: 20px;
  margin: auto;
}

#authform-button {
  margin: 25px;
}

#plaid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 20px;
}

.accountOverViewContainer {
  margin: auto;
  max-width: 600px;
  padding: 50px 10px 10px 10px;
}

.accountOverViewContainer h2 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.accountOverViewContainer h3 {
  font-size: 20px;
}

.accountOverViewBold {
  font-weight: 500;
}

.accountOverViewContainer h4 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  padding-left: 0;
  margin-left: 0;
  font-weight: 500;
}

#collection-header {
  padding: 0 5px 5px 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.budgetContainer {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  padding-top: 50px;
}

.categoriesContainer h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  padding-left: 0;
  margin-left: 0;
  font-weight: 500;
}

.budgetContainer h2 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  padding-left: 0;
  margin-left: 0;
  font-weight: 500;
}

.buttonOrFormContainer {
  padding-top: 10px;
  max-width: 250px;
}

.monthlyContainer {
  max-width: 600px;
  margin: auto;
  padding: 70px 10px 10px 10px;
}

.monthlyContainerInternal {
  display: flex;
  flex-direction: column;
}
.doughnutChartTable h2 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.yearlyContainer {
  margin: auto;
  max-width: 900px;
  padding: 60px 10px 10px 10px;
}

.yearlyContainer h2 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

@media (min-width: 700px) {
  #auth-form {
    max-width: 500px;
  }

  #login-signup {
    width: 200px;
  }

  main .eBudget-header {
    font-size: 36px;
  }

  main .eBudget-subheader {
    font-size: 20px;
  }

  .yearlyContainer h2 {
    font-size: 30px;
  }
}

@media (min-width: 990px) {
  #ham-menu {
    visibility: hidden;
  }

  .monthlyContainer {
    max-width: 1100px;
  }

  .monthlyContainerInternal {
    flex-direction: row;
  }

  .doughnutChart {
    width: 700px;
    padding-top: 30px;
  }

  .doughnutChartTable {
    width: 500px;
  }
}
